@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.calendar {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.calendar__wrapper {
  display: flex;
  flex: 1;
}

.calendar__month {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 183px));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  /* background-color: #fff; */
  column-gap: 1px;
  min-height: 100vh;
  /* border-radius: 52px; */
}

.calendar__header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.calendar__header--container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  transform: translateX(-50px);
}

.calendar__header h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.day {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e9ecf1;
  padding: 12px;
  padding-left: 9px;
}

.noBorder {
  display: flex;
  flex-direction: column;
  border-left: none;
  padding: 12px;
  padding-left: 9px;
  /* background-color: #fff; */
}

.day__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* padding: 0.25rem; */
  margin-left: 12px;
  /* margin-bottom: 0.25rem; */
  font-weight: 500;
}

.weekdays {
  display: flex;
  flex-direction: column;
  background-color: #e9ecf1;
}

.weekdays__header {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 183px));
  column-gap: 1px;
}

.weekdays__header p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5rem;
  /* padding: 0.25rem; */
  padding-left: 1.3rem;
  background-color: #fff;
}

.highlightDay {
  color: #ff0000;
}

.btn-container {
  display: flex;
  gap: 0.25rem;
}

.arrow {
  background-color: #fff;
  border: none;
  outline: none;
}
.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  transform: scale(1.1);
}

.highlightWeek {
  background-color: rgba(233, 236, 241, 0.75);
}

.highlightWeek.leftRounded {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  /* border-left: 1px solid #e9ecf1; */
}
.highlightWeek.rightRounded {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
/* search form */

/* form.search-form {
  width: "100%";
  margin: "0 auto 2.5rem";
  display: "flex";
  gap: "38px";
}



.search-form__input {
  display: "block";
  background: "#e9ecf1";
  width: "calc(100% - 128px)";
  border: "none";
  outline: "none";
  height: "48px";
  border-radius: "12px";
  background-color: red;
}

.search-form__btn {
  display: "block";
  background-color: "red";
  color: "white";
  width: "120px";
  border: "none";
  outline: "none";
  height: "48px";
  border-radius: "12px";
} */

.search-form {
  width: 100%;
  margin: 0 auto 2.5rem;
  display: flex;
  gap: 0.5rem;
  /* ---- */
  position: relative;
}

.search-form__input {
  display: block;
  background-color: #e9ecf1;
  width: calc(100% - 128px);
  border: none;
  outline: none;
  height: 48px;
  padding: 1rem 1.25rem 1rem 3rem;
  border-radius: 12px;
}

.search-form__btn {
  display: block;
  background-color: #ff0000;
  color: #fff;
  width: 120px;
  border: none;
  outline: none;
  height: 48px;
  border-radius: 12px;
}

.search-icon {
  position: absolute;
  top: 16px;
  left: 21px;
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.5);
}

/* days past */

.dim {
  opacity: 0.5;
}
